*.suo
*.user
*.userosscache
*.sln.docstates

packages/
bin/
obj/
Debug/
Release/
x86/
x64/
build/
ipch/
TestResults/

*.obj
*.pdb
*.idb
*.ilk
*.pch
*.log
*.tlog
*.exe
*.dll
*.lib
*.appx
*.appxbundle
*.appxupload

.vs/
*.opendb
*.VC.db
*.VC.VC.opendb
*.cache
*.ncb
*.sdf
*.cachefile
*.nuget.props
*.nuget.targets
*.coverage
*.coveragexml

.idea/
.vscode/
node_modules/
dist/



